@media print {
  * {
    box-sizing: border-box !important;
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  body * {
    visibility: hidden;
  }

  /* Show only the documentContent */
  #documentContent,
  #documentContent * {
    visibility: visible;
  }

  #documentContent {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed;
    left: 0;
    top: 0;
  }

  .single-recordParent .single-recordChild .file-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 0 12px 8px 12px;
  }
  .single-recordParent .single-recordChild .file-header img.logo-left {
    width: 128px;
    height: 128px;
    margin-top: -6px;
  }

  .single-recordParent .single-recordChild .file-header img.logo-right {
    width: 112px;
    height: 108px;
  }

  .single-recordParent .single-recordChild .file-header p.header-title {
    font-size: 32px !important;
  }

  /* Ensure the parent container takes full width */
  .single-recordParent {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Adjust the child container for full width */
  .single-recordParent .single-recordChild {
    width: 100% !important;
    margin: 0 !important;
    padding: 8px 20px 20px 20px !important;
    border-radius: 0 !important;
    background-color: #fff !important;
  }

  /* Ensure the header and content take full width */
  .single-recordParent .single-recordChild .file-header,
  .single-recordParent .single-recordChild .file-content {
    width: 100% !important;
    margin: 0 !important;
    padding: 20px !important;
  }

  /* Ensure the footer is fixed at the bottom */
  .single-recordParent .footer-lines,
  .single-recordParent .file-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #fff;
    padding: 4px 0 8px 0;
  }
  .single-recordParent .footer-lines {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #fff;
    padding: 10px 0 4px 0;
  }

  /* Hide unnecessary elements */
  .single-recordChild2,
  .file-topics {
    display: none !important;
  }
  .sidebar-part {
    display: none !important;
  }

  .single-recordParent .single-recordChild .file-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-top: 20px;
    padding-bottom: 8px;
  }

  .single-recordParent .single-recordChild .file-header h2 {
    font-family: "YAFdJjbTu24 1", _fb_, auto;
    font-size: 34px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    line-height: 46px;
    letter-spacing: 0em;
    text-transform: uppercase;
  }

  .single-recordParent .single-recordChild .file-header .user-data p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    font-style: italic;
  }

  .single-recordParent .single-recordChild .file-header .user-data p span {
    color: rgba(49, 49, 49, 0.747);
    font-size: 12px;
    margin-left: 10px;
    font-weight: 500;
  }

  .single-recordParent .single-recordChild .file-content {
    padding: 60px 25px 80px 25px;
  }

  .single-recordParent .single-recordChild .file-content .title-part {
    padding: 5px 0 16px 0;
  }

  .single-recordParent .single-recordChild .file-content .title-part h3 {
    font-size: 20px;
    color: rgb(28, 33, 32);
    line-height: 29px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-weight: 500;
  }

  .single-recordParent .single-recordChild .file-content .title-part p {
    font-size: 15px;
    color: #000;
  }

  .single-recordParent .single-recordChild .file-content .text-part h1,
  .single-recordParent .single-recordChild .file-content .text-part h2,
  .single-recordParent .single-recordChild .file-content .text-part h3,
  .single-recordParent .single-recordChild .file-content .text-part h4,
  .single-recordParent .single-recordChild .file-content .text-part h5,
  .single-recordParent .single-recordChild .file-content .text-part h6,
  .single-recordParent .single-recordChild .file-content .text-part b {
    font-size: 20px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
  }

  .single-recordParent .single-recordChild .file-content .text-part p {
    font-size: 14px;
    text-align: justify;
    text-align-last: left;
  }

  .single-recordParent .file-footer p {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    color: #222222;
    font-size: 14px;
  }
}
